training_data
test_data
__pycache__
logs
bert_model
task1_data/*
task2_data/*
saved_models/*
*.pyc
checkpoints/*
TransformerResults
transformerLogs
training.csv
trial.ipynb
RedditExtract/*.csv
predictions
